<h4>
  One of the best things you can do to combat extreme copyright resctritions is to publish our own work under an open paradigm Fortunately, Creative Commons offers us that. 
</h4>
<br>

 <a ng-click= "getlicense()">Click for license</a> 
 <textarea>{{licensexml}}</textarea> 






<div class="row">
  <div id="license-features" class="col-md-5">
    <h2>License Features</h2>
    <div class="subtitle">Your choices on this panel will update the other panels on this page.</div>

    <div>
      <h4>Allow adaptations of your work to be shared?</h4>
      <ul>
        <li>
          <input type="radio" checked="checked"/>
          <label>Yes</label>
        </li>
        <li>
          <input type="radio"  name="field_derivatives" value="n"/>
          <label>No</label>
        </li>
        <li>
          <input type="radio" name="field_derivatives" value="sa"/>
          <label>Yes, as long as others share alike </label>
        </li>
      </ul>
    </div>
      
    
    <div class="help_highlight">
      <h4>Allow commercial uses of your work?</h4>
      <ul>
        <li>
          <input type="radio" checked="checked" value="y"/>
          <label for="question_2-3">Yes</label>
        </li>
        <li>
          <input type="radio" value="n"/>
          <label>No</label>
        </li>
      </ul>
    </div>



