<h4>
  One of the best things you can do to combat extreme copyright resctritions is to publish our own work under an open paradigm Fortunately, Creative Commons offers us that. 
</h4>
<br>

<div class="row">
  <div id="license-features" class="col-md-5">
    <h2>License Features</h2>
    <div class="subtitle">Your choices on this panel will update the other panels on this page.</div>

    <div>
      <h4>Allow adaptations of your work to be shared?</h4>
      <div class="help_button" onclick="CHOOSER.CALL.popup('modifications');"></div>
      <ul>
        <li>
          <input type="radio"
                 checked="checked"
                 name="field_derivatives" value="y"
                 id="question_3-5" />
          <label for="question_3-5">Yes</label>
        </li>
        <li>
          <input type="radio"  name="field_derivatives" value="n"
                 
                 id="question_3-7" />
          <label for="question_3-7">No</label>
        </li>
        <li>
          <input type="radio" name="field_derivatives" value="sa"
                 
                 id="question_3-6" />
          <label for="question_3-6">
            Yes, as long as others share alike
          </label>
        </li>
      </ul>
    </div>
      
    
    <div class="help_highlight">
      <h4>Allow commercial uses of your work?</h4>
      <div class="help_button" onclick="CHOOSER.CALL.popup('commercial');"></div>
      <ul>
        <li>
          <input type="radio" checked="checked" 
                 name="field_commercial" value="y" id="question_2-3"/>
          <label for="question_2-3">Yes</label>
        </li>
        <li>
          <input type="radio"
                 name="field_commercial" value="n" id="question_2-4"/>
          <label for="question_2-4">No</label>
        </li>
      </ul>
    </div>



