<h4>Find Creative Commons Images on Flickr</h4>
    <div class="app-container">
        <form name="form" class="validate-form">
          <input id="searchCriteria"
                 ng-model="searchCriteria.tags"
                 ng-target="form.tags"
                 name=" tags"
                 type="text"
                 title="required input"
                 placeholder="Enter search terms here"
                 required />
          <br />
          Creative Commons License
          <input type="radio" name="SearchMode" value="any" />Any Tags
          <input type="radio" name="SearchMode" value="all" checked />All Tags
          <br />
                    <button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">
            Search Flickr
          </button>
          <input type="button" class="btn btn-default" ng-click="resetForm(form);" value="Reset" />
        </form>
      </fieldset>

    </div>
    <div id="message"></div>
    <div id="images" class="app-container">
      <h3 ng-show="images.items.length > 0">
        {{images.title}}
      </h3>
      <figure class="added-fig" ng-repeat="i in images.items">
        <img class="added-img" src="{{i.media.m}}" />
        <figcaption class="added-cap">{{i.title}}</figcaption>
      </figure>
    </div>
</section>